.header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 1em 2em;
}
.logo {
    align-self: flex-end;
}
.nav {
    display: flex;
    border: 1px solid black;
    border-radius: 3px;
}
.nav-item {
min-width: 50px;
text-align: center;
padding: 0.2em 0.1em;
}
.nav-center {
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.banner {
    display: flex;
    align-items: center;
    flex-direction: column;
}
section#home {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.main-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 2em;
    box-sizing: border-box;
}

.message-form {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 10em;
    margin-top: 50px;
}
.element {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.left {
    display: flexbox;
    flex-direction: column;
    width: 60%;
    padding-right: 10%;
    align-items: flex-end;
}
.image {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-radius: 25px;
}

.profile {
    display: flex;
    flex-direction: row;
    width: 75%;
}
.profil-text {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.circle {
    border: 1px solid gray;
    max-width: 2em;
    border-radius: 50%;
    text-align: center;
    background: gray;
    padding: 35px;
}
.form {
    background: lightgray;
    border-radius: 5px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.right {
    display: flexbox;
    flex-direction: column;
    width: 40%;
    margin: 0, 5em, 2em, 2em ;
    align-items: start;
}

.input {
    margin-bottom: 40px;
}


input#name {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

input#email {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

select#interest {
    padding: 10px;
    border: 2px solid gray;
    border-radius: 5px;
}

.btn {
    margin-top: 5px;
    padding: 1em;
    border-radius: 5px;
    background: black;
    cursor: pointer;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}

/* .caption{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
} */

.caption-inf{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:2em ;
}

div {
    display: block;
}
